# Site
title:              Standing Wave
bio:                'Alastair and Chris?'
description:        "Sociotechnical Consulting"
locale:             en_US
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://www.standingwave.co" # the base hostname & protocol for your site
background_image:   /images/bg.jpg
# Tip: The color palette and other styles can be configured in /_sass/lib/_vars.scss
formspree_thankyou_page: /thank-you

defaults:
- scope:
    path: ''
    type: posts
  values:
    permalink: "/blog/:title/"
    layout: post
    author:

# Jekyll
permalink:          /blog/:title/
markdown:           kramdown
highlighter:        rouge
kramdown:
  auto_ids:         true
  footnote_nr:      1
  entity_output:    as_char
  toc_levels:       1..6
  enable_coderay:   false
excerpt_separator: <!--more-->
mathjax:            true
sass:
  sass_dir:         _sass
  style:            compressed

# Social
analytics-id:       "UA-129187900-1"
twitter:            "_StandingWave_"
# facebook:           default
# instagram:          default
github:             "standing-wave"
amazon-affiliate:   "standingwav02-20"

# personal
location:           Atlanta, GA
#phone:              310-318-5555
email:              inquire@standingwave.co

# Gems
gems:
  - jekyll-mentions
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate

paginate: 6
paginate_path: "/blog/page:num/"

jekyll-mentions:
    base_url: https://twitter.com

# Exclude list
exclude: [README.md, Gemfile, Gemfile.lock, node_modules, gulpfile.js, package.json, _site, src, vendor, CNAME, LICENSE, Rakefile, old]
